.logo {
  background: linear-gradient(89deg, #04C8DE 0%, #FF5EDF 100%);
  padding: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 0 2rem;
}